@use '_variables.scss' as *;
@import '~bootstrap/scss/bootstrap';


.ms-bg-primary{
    background-color: $main_color;
}

.ms-white{
    color: #ececec;
}

.ms-link{
    color: white;
    text-decoration: none;
}

.ms-li{
    list-style: none;
    li{
        a{
            text-decoration: none;
            color: $main_color;
        }
    }
}

.ms-margin-top{
    margin-top: 30vh;
}

.event{
    display: flex;
    flex-direction: column;
    width: calc(100%/6 - 20px);
    padding: 10px;
    margin: 10px;
}

.ms-btn{
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: $main_color;
    color: antiquewhite;
    &:hover{
        background-color: green;
    }
}
