@use '_variables.scss' as *;
@import '~bootstrap/scss/bootstrap';


.ms-bg-primary{
    background-color: $main_color;
}

.ms-white{
    color: #ececec;
}

.ms-link{
    color: white;
    text-decoration: none;
}

.ms-li{
    list-style: none;
}

.ms-margin-top{
    margin-top: 30vh;
}
